In [2]:
import pandas as pd

tf_idf_df = pd.read_csv('tf-idf.cdc_documents.csv')

tf_idf_df.head()

,word,sum,doc-0,doc-1,doc-2,doc-3,doc-4,doc-5,doc-6,doc-7,...,doc-10,doc-11,doc-12,doc-13,doc-14,doc-15,doc-16,doc-17,doc-18,doc-19
0,considerations,1.264890,0.095170,0.095452,0.095184,0.000000,0.099618,0.094418,0.097524,0.104742,...,0.098532,0.000000,0.097834,0.000000,0.097524,0.095957,0.097401,0.000000,0.000000,0.0
1,for,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,preventing,1.593458,0.265986,0.266775,0.266026,0.263420,0.000000,0.266326,0.000000,0.000000,...,0.264925,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,spread,0.628614,0.037132,0.036011,0.040244,0.037296,0.000000,0.035950,0.039045,0.035539,...,0.000000,0.036803,0.037557,0.037188,0.039045,0.036429,0.035654,0.036467,0.036121,0.0
4,of,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [23]:
docs = pd.read_csv('cdc_documents.csv')

docs.head()

              cdc_filter  ...                                               text
0  high_risk_populations  ...  summary of changes to the guidance below are c...
1  high_risk_populations  ...  summary of changes revisions were made on july...
2  high_risk_populations  ...  before a covid 19 outbreak occurs in your loca...
3  high_risk_populations  ...  meat and poultry processing facilities are a c...
4  high_risk_populations  ...  purpose cdc has recommendations for when nursi...

[5 rows x 3 columns]

In [11]:
tf_idf_df[['sum']].describe()

               sum
count  3451.000000
mean      1.013268
std       0.388394
min       0.000000
25%       0.657221
50%       1.008936
75%       1.413353
max       2.123101

In [3]:
tf_idf_df[['word','sum']].sort_values(by='sum', ascending=False)[0:40]

              word       sum
117      residents  2.123101
271        testing  1.957917
938       students  1.901625
140        nursing  1.814376
2728         young  1.812102
391        workers  1.797754
112           sars  1.784146
113            cov  1.784146
2582       parents  1.737732
723          masks  1.725751
812        results  1.715195
764            hcp  1.714525
362      screening  1.707784
886        symptom  1.705730
498   disinfection  1.705017
231       resident  1.703600
164         source  1.699900
781          viral  1.698371
154   asymptomatic  1.697343
423            ppe  1.687402
202      personnel  1.681913
971           many  1.681705
443           mask  1.676061
424           worn  1.675176
258           test  1.672546
830        schools  1.672212
1057  disinfecting  1.670480
1207      droplets  1.669702
115      spreading  1.666911
599         shield  1.666903
441         unable  1.666749
181      suspected  1.664452
9           living  1.663888
437      breathing  1.663675
2111      evidence  1.663423
761              1  1.662801
1219      learning  1.662073
249     identified  1.660728
141          homes  1.659570
174      coverings  1.659207

In [33]:
doc_sums = [{"doc":i, "sum":0} for i in range(20)]

for row in tf_idf_df.itertuples():
    for i,tf_idf in enumerate(row[3:]):
        doc_sums[i]['sum'] += tf_idf

for doc in doc_sums:
    print(doc)

{'doc': 0, 'sum': 214.6375774930538}
{'doc': 1, 'sum': 110.71661117699631}
{'doc': 2, 'sum': 106.05340299241307}
{'doc': 3, 'sum': 457.00613485273146}
{'doc': 4, 'sum': 157.97355951999984}
{'doc': 5, 'sum': 213.06132113435933}
{'doc': 6, 'sum': 99.11325683495721}
{'doc': 7, 'sum': 213.3622866890872}
{'doc': 8, 'sum': 101.03849960226968}
{'doc': 9, 'sum': 311.9744119177025}
{'doc': 10, 'sum': 141.2424951977246}
{'doc': 11, 'sum': 162.83280895968178}
{'doc': 12, 'sum': 184.44821515680871}
{'doc': 13, 'sum': 156.1918679065404}
{'doc': 14, 'sum': 99.11325683495721}
{'doc': 15, 'sum': 194.44054789256808}
{'doc': 16, 'sum': 225.32999797712074}
{'doc': 17, 'sum': 144.24577399488936}
{'doc': 18, 'sum': 153.34729591005396}
{'doc': 19, 'sum': 50.65823521363747}

from this we can see that doc-3 had the highest total sum of tf-idf, suggesting that it has a high volume of important or unique keywords for the cdc guidlines released

In [29]:
# highest ranked document
docs.loc[3,'title']

'meat and poultry processing workers and employers'

In [37]:
tf_idf_df[['word','doc-3']].sort_values(by='doc-3', ascending=False)[0:15]

              word     doc-3
1311          side  0.672692
1405       vehicle  0.667764
1251         plant  0.667764
1506     standards  0.665299
1255  workstations  0.665299
1417     modifying  0.665299
1320    partitions  0.662835
1242        locker  0.662835
1775     complaint  0.662835
1756   retaliation  0.662835
1431       analyze  0.660371
1228   supervisors  0.660371
1444     schedules  0.660371
1226        plants  0.660371
1390          file  0.660371

In [34]:
# lowest ranked document
docs.loc[19, 'title']

'guidance for cleaning and disinfecting'